</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav>
	    <a <{if $menu==1}>id="topnav_current"<{/if}> href="index.php?g=Home&c=Index&a=index">首页</a>
	    <a <{if $menu==2}>id="topnav_current"<{/if}> href="about.html">关于我</a>
	    <a <{if $menu==3}>id="topnav_current"<{/if}> href="index.php?g=Home&c=Article&a=index&id=1">生活纪实</a>
	    <a <{if $menu==4}>id="topnav_current"<{/if}> href="photo.html">我的相册</a>
	    <a <{if $menu==5}>id="topnav_current"<{/if}> href="new.html">模板主题</a>
    </nav>
 </header>