<div class="admin-navbar"> <span class="float-right"> <a class="button button-little bg-main" href="#">前台首页</a> <a class="button button-little bg-yellow" href="index.php?g=Admin&c=Privilege&a=loginout">注销登录</a> </span>
  <ul class="nav nav-inline admin-nav">
    <li <{if $menu==1}> class='active'<{/if}>><a href="index.php?g=Admin&c=Index&Index" class="icon-home"> 开始</a>
      <ul>
        <li <{if $sub==1001}>class='active'<{/if}>><a href="index.php?g=Admin&c=Category&a=index">类别管理</a></li>
        <li <{if $sub==1002}>class='active'<{/if}>><a href="index.php?g=Admin&c=Article&index">文章管理</a></li>
        <li <{if $sub==1003}>class='active'<{/if}>><a href="#">相册管理</a></li>
        <li <{if $sub==1004}>class='active'<{/if}>><a href="#">站长信息</a></li>
        <li <{if $sub==1005}>class='active'<{/if}>><a href="#">关于我</a></li>
        <li <{if $sub==1006}>class='active'<{/if}>><a href="#">栏目管理</a></li>
      </ul>
    </li>
    <li <{if $menu==2}>class='active'<{/if}>><a href="index.php?g=Admin&c=Category&a=index" class="icon-cog">类别管理</a>
      <ul>
        <li <{if $sub==2001}>class='active'<{/if}>><a href="index.php?g=Admin&c=Category&a=index">所有类别</a></li>
        <li <{if $sub==2002}>class='active'<{/if}>><a href="index.php?g=Admin&c=Category&a=add">添加类别</a></li>
        
      </ul>
    </li>
    <li <{if $menu==3}>class='active'<{/if}>><a href="index.php?g=Admin&c=Article&index" class="icon-file-text"> 文章管理</a>
      <ul>
        <li <{if $sub==3001}>class='active'<{/if}>><a href="index.php?g=Admin&c=Article&index">文章列表</a></li>
        <li <{if $sub==3002}>class='active'<{/if}>><a href="#">所有文章</a></li>
        <li <{if $sub==3003}>class='active'<{/if}>><a href="index.php?g=Admin&c=Article&a=add">添加文章</a></li>
      </ul>
    </li>
    <li <{if $menu==4}>class='active'<{/if}>><a href="#" class="icon-shopping-cart"> 相册管理</a>
      <ul>
        <li <{if $sub==4001}>class='active'<{/if}>><a href="#">添加相片</a></li>
      </ul>
    </li <{if $menu==5}>class='active'<{/if}>>
    <li <{if $sub==5001}>class='active'<{/if}>><a href="#" class="icon-user"> 站长信息</a></li>
    <li <{if $sub==5002}>class='active'<{/if}>><a href="#" class="icon-file"> 关于我</a></li>
    <li <{if $sub==5003}>class='active'<{/if}>><a href="#" class="icon-th-list"> 栏目管理</a></li>
  </ul>
</div>