<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>拼图后台管理-后台管理</title>
    <link rel="stylesheet" href="App/Public/Admin/css/pintuer.css">
    <link rel="stylesheet" href="App/Public/Admin/css/admin.css">
    <script src="App/Public/Admin/js/jquery.js"></script>
    <script src="App/Public/Admin/js/pintuer.js"></script>
    <script src="App/Public/Admin/js/respond.js"></script>
    <script src="App/Public/Admin/js/admin.js"></script>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
    <link href="/favicon.ico" rel="bookmark icon" />
    <style>
    .pagination:hover{
        cursor: pointer;
    }
    </style>
    <script type="text/javascript">
        function searchA(){
            var search=document.getElementById('search');
            var val=search.value;
            window.location="/index.php?g=Admin&c=Article&a=index&search="+val;
        }
    </script>
</head>

<body>
<div class="lefter">
    <div class="logo"><a href="#" target="_blank"><img src="App/Public/Admin/images/logo.png" alt="后台管理系统" /></a></div>
</div>
<div class="righter nav-navicon" id="admin-nav">
  <div class="mainer">
    <{include file="../common/menu.html" menu=3 sub=1002}>
    <div class="admin-bread"> <span>您好，<{$smarty.session.userInfo.u_name}>，欢迎您的光临。</span>
      <ul class="bread">
        <li><a href="index.html" class="icon-home"> 开始</a></li>
        <li><a href="system.html">文章管理</a></li>
        <li>文章列表</li>
      </ul>
    </div>
  </div>
</div>

<div class="admin">
	<form method="post">
    <div class="panel admin-panel">
    	<div class="panel-head"><strong>内容列表</strong></div>
        <div class="padding border-bottom">
            <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
            <input type="button" class="button button-small border-green" onclick="location='index.php?g=Admin&c=Article&a=add' " value="添加文章" />
            <input type="button" class="button button-small border-yellow" value="批量删除" />
            <input type="button" class="button button-small border-blue" value="回收站" />
             <div style="float:right;"><input class="input" type="text" name="search" style="width:200px;display:inline-block;vertical-align: bottom;border-right:none" id="search"><input onclick="searchA()" type="button" style="display: inline-block;margin-left:-3px;border-radius:0;" class="button" value="搜索" /></div>

        </div>
        <table class="table table-hover">
            <thead>
            	<tr>
                    <th width="45">选择</th>
                    <th width="120">标题</th>
                    <th width="*">描述</th>
                    <th width="100">时间</th>
                    <th width="200">推荐</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
            <{foreach $res as $v}>
                <tr>
                    <td><input type="checkbox" name="id" value="1" /></td>
                    <td><{$v.a_title}></td>
                    <td><{$v.a_desc|truncate:15:'....'}></td>
                    <td><{$v.a_time|date_format:'Y-m-d H:i:s'}></td>
                    <td>
                        <{if $v.a_recommend==0}>
                        <a class="button border-blue button-little" href="index.php?g=Admin&c=Article&a=recommend&id=<{$v.a_id}>&curlpage=<{$curlpage}>">推荐</a>
                        <{else}>
                        <a class="button border-blue button-little" href="index.php?g=Admin&c=Article&a=recommend&id=<{$v.a_id}>&curlpage=<{$curlpage}>">取消推荐</a>
                        <{/if}>
                    </td>
                    <td>
                        <a class="button border-blue button-little" href="index.php?g=Admin&c=Article&a=alt&id=<{$v.a_id}>">修改</a> 
                        <a class="button border-yellow button-little" href="index.php?g=Admin&c=Article&a=del&id=<{$v.a_id}>" onclick="{if(confirm('确认删除?')){return true;}return false;}">删除</a>
                    </td>
                </tr>
            <{/foreach}>
            </tbody>
        </table>
        <div class="panel-foot text-center">
          <{$message}>

        </div>
    </div>
    </form>
    <br />
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">拼图前端框架</a>构建</p>
</div>

</body>
</html>